.big-button{
    background-color: $purple;
    border: none;
    border-bottom:.6rem solid darken($purple,10%);
    font-weight: bold;
    font-size: $l-size;
    color: $white;
    width: 100%;
    margin-bottom: $m-size;
    padding: 2.4rem;
    transition: all ease-in-out 100ms;
    &:active{
        transform: translateY(3px);
    }
    
    &:disabled{
        opacity: 0.6;
    }
}

button{
    cursor: pointer;

    &:disabled{
        cursor: default;
    }
}

.small-buttons{
    background-color: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple,10%);
    color: $white;
    font-weight: 500;
    padding: $s-size;
}
.modal-btn{
    min-width: 30rem;
}

.button--link{
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}
@media(min-width:$desktop-breakpoint){
    .big-button{
        margin-bottom: $xl-size;
    }
}